:root {
	--color1: #6B1F17;
	--color2: #9E0B0F;
	--color3: #CE1016;
	--color4: #E00303;
	--color5: #333333;
	--base-header-font: 'Open Sans', sans-serif;
}

body {
	background-color: #EBEBE6;
}

.container,
.row {
	margin-right: auto;
	margin-left: auto;
}

.hidden {
	display: none !important;
}

header {
	border-bottom: 4px solid var(--color2);
}

ul {
	list-style-type: none;
}

p {
	font-family: 'DIN Next LT Pro', sans-serif;
	font-weight: 400;
	font-size: 21px;
}

h1 {
	font-family: 'DIN Next LT Pro', sans-serif;
	font-weight: 700;
	font-size: 52px;
}

h1.dark {
	color: var(--color5);
}

h2 {
	font-family: 'DIN Next LT Pro', sans-serif;
	font-weight: 700;
	font-size: 42px;
}

h2.dark {
	color: var(--color5);
}

h3 {
	font-family: 'DIN Next LT Pro', sans-serif;
	font-weight: 700;
	font-size: 32px;
}

h3.dark {
	color: var(--color5);
}

h4 {
	font-weight: 600;
}

.btn-primary {
	font-weight: 600;
	background: linear-gradient(90deg, var(--color2) 0%, var(--color3) 100%);
	border: 2px solid var(--color4);
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 101%, 0 101%);
	transition: ease-in-out .1s;
	font-size: 22px;
	padding: 12px 42px;
}

.btn-primary i {
	padding-right: 7px;
}

.btn-primary:hover {
	border: 2px solid var(--color4);
	filter: brightness(110%);
}

.btn-primary:active {
	border: 2px solid var(--color4) !important;
}

.btn-primary-small {
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 101%, 0 101%);
	font-size: 16px;
	padding: var(--bs-btn-padding-y) 18px;
}

.navbar {
	height: 60px;
	background-color: #E7E7DB !important;
	font-family: var(--base-header-font);
	font-weight: 600;
	z-index: 1040 !important;
}

.navbar-container {
	max-width: 1200px;
	min-height: 100%;
}

.navbar-brand svg {
	height: 42px !important;
	width: 128px !important;
}

.nav-link {
	color: var(--color5) !important;
	font-size: 16px !important;
	transition: none;
}

.active {
	color: var(--color2) !important;
}

li.dropdown:hover>div.dropdown-menu {
	display: flex !important;
	pointer-events: auto !important;
}

.nav-item:hover .nav-link {
	color: var(--color2) !important;
}

.dropdown-toggle::after {
	display: none;
}

.dropdown-menu {
	border: none;
	border-top: 4px solid var(--color2);
	padding-top: 30px;
	top: 100%;
}

.list-header {
	font-size: 16px;
	font-weight: 700;
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(90deg, #000 1%, var(--color2) 52%, #000);
	border-image-slice: 1;
	width: 100%;
}

.dropdown-list {
	width: 1200px;
	padding-bottom: 100px;
}

.dropdown-sublist-container {
	width: 20%;
}

.dropdown-sublist-link {
	font-size: 16px;
	color: #CACACA;
	font-weight: 300;
	text-decoration: none;
}

.dropdown-sublist-link:hover {
	color: var(--color2);
}

.sublist-link {
	color: white;
	font-size: 17px;
	text-decoration: none;
	transition: color .1s ease-in-out;
}

.sublist-link:hover {
	color: var(--color2);
}

.navbar-toggler {
	border: none;
}

.card {
	text-decoration: none;
	box-shadow: 0 18px 15px #000 !important;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 18px), calc(100% - 18px) 100%, 0 100%);
}

a.card:hover {
	background-color: #F2F2F2;
}

.category-container {
	max-width: 240px !important;
	height: 116px !important;
}

.category-container.active {
	background-color: #f7f7f7;
}

.product-container {
	max-width: 365px !important;
	height: 375px !important;
}

.product-container img {
	object-fit: cover;
	height: 212px;
}

.on-sale-tag {
	transform: rotate(45deg);
	background-color: var(--color3);
	font-size: 20px;
	font-weight: 600;
	padding: 0 25px;
	top: 20px;
	right: -30px;
}

.adult-tag {
	transform: rotate(-45deg);
	color: var(--color3);
	font-size: 20px;
	font-weight: 600;
	padding: 0 50px;
	top: 20px;
	left: -40px;
}

.login-form-container {
	background-image: url("../images/LoginFormBackground.webp");
	background-repeat: no-repeat;
	background-position: center;
	height: auto;
	max-width: none !important;
}

.login-form {
	margin: 100px 0;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 24px), calc(100% - 24px) 100%, 0 100%);
}

.form-link {
	text-decoration: none;
}

.form-link:hover {
	color: var(--color3) !important;
}

.footer-container {
	background-image: url("../images/FooterImage.webp");
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #000;
	max-width: none !important;
}

.footer-content {
	max-width: 1240px;
}

.round-button {
	width: 50px;
	height: 50px;
	background-color: #242424;
}

.round-button:hover {
	background-color: #000;
}

.round-button svg {
	width: 32px;
	height: 32px;
}

.back-top-button-container {
	top: -40px;
}

.back-top-button {
	width: 160px;
	height: 40px;
	font-size: 10px;
	font-weight: 700;
	text-decoration: none;
	clip-path: polygon(50% 0%, 0 100%, 100% 100%) !important;
	background: radial-gradient(ellipse at bottom, var(--color5) 20%, #000 75%);
}

.back-top-button:hover {
	background: radial-gradient(ellipse at bottom, var(--color2) 20%, #000 75%);
}

.back-top-button i::before {
	font-size: 48px;
}

.main-banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/MainBanner.webp");
	background-repeat: no-repeat;
	background-position: top;
	height: 540px;
}

.first-banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/FirstBanner.webp");
	background-repeat: no-repeat;
	background-position: top left;
	height: 610px;
}

.second-banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/SecondBanner.webp");
	background-repeat: no-repeat;
	background-position: center;
	height: 610px;
}

.carousel-button {
	width: 50px;
	height: 50px;
	background-color: #00000000;
	border: 1px solid var(--color2);
}

.carousel-left-button {
	right: 49px;
}

.carousel-button i {
	color: var(--color2);
	font-size: 20px;
}

.carousel-button:hover {
	background-color: var(--color2);
}

.carousel-button:hover i {
	color: white;
}

.carousel-image {
	object-fit: cover;
	height: 196px;
}

.card-link {
	color: var(--color2);
	width: fit-content;
}

.card-link i {
	font-size: 26px;
}

fieldset {
	border: 4px solid var(--color2) !important;
}

table th,
table td {
	padding: 10px;
}

table,
table th {
	border-bottom: 4px solid var(--color2);
}

table td {
	border-bottom: 2px solid #E7E7DB;
}

table th {
	background-color: #E7E7DB;
}

table i {
	color: var(--color2);
}

table i:hover {
	color: var(--color1);
}

.footer-copy {
	font-size: 14px;
}

.go-back-button {
	color: var(--color5);
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
}

.go-back-button:hover {
	color: var(--color2);
}

.product-image {
	height: 300px;
	object-fit: cover;
}

.card-product-info {
	font-size: 32px;
	background-color: var(--color2);
}

.card-product-subtitle {
	font-size: 28px;
	color: var(--color2);
}

.cart-row {
	border-bottom: 2px solid #E7E7DB;
}

.cart-row:first-child {
	border-top: 2px solid #E7E7DB;
}

.cart-row img {
	width: 200px;
	height: 100px;
	object-fit: cover;
}

.cart-product-name {
	color: var(--color5);
	font-size: 26px;
	font-weight: 600;
	text-decoration: none;
}

.cart-row i {
	color: var(--color2);
}

.cart-row i:hover {
	color: var(--color1);
}

.quantity-container {
	font-size: 22px !important;
}

.amount-container h2 {
	border-bottom: 4px solid var(--color2);
}

.amount-container span {
	font-size: 18px;
}

.amount-container .total-price {
	font-weight: 600;
	font-size: 20px;
}

.product-quantity-buttons i {
	color: var(--color2);
	font-weight: 800;
	font-size: 22px !important;
}

.product-quantity-buttons i:hover {
	color: var(--color1);
}

.last-order-container {
	border-top: 4px solid var(--color2);
	border-bottom: 4px solid var(--color2);
}

.more-products {
	font-size: 14px;
	color: var(--color5);
}

.more-products a {
	color: var(--color2);
}

.more-products a:hover {
	color: var(--color1);
}

.order-info {
	font-size: 22px !important;
}

/* 365 375 */

@media (max-width: 1399px) {
	.category-container {
		max-width: 280px !important;
	}

	.product-container {
		max-width: 340px !important;
		height: 320px !important;
	}

	.product-container img {
		height: 182px;
	}

}

@media (max-width: 991px) {
	header {
		border: none;
	}

	.nav-item {
		background-color: #000;
		height: auto;
		min-height: 50px;
		border-bottom: 1px solid #1A1A1A;
	}

	.nav-link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: inherit;
		min-height: 50px;
		width: 100%;
		padding: 0 30px;
		color: white !important;
	}

	#productsDropdown {
		display: none;
	}

	#yourCartButtonNav {
		display: none;
	}

	#yourCartButtonNavMobile i:before {
		font-size: 30px;
	}

	#offcanvasNav {
		background-color: #0B0B0B;
		top: 60px;
		width: 270px;
	}

	.offcanvas-backdrop {
		top: 60px;
		transition: none;
		backdrop-filter: blur(3px);
		background-color: rgba(0, 0, 0, 0.5);
		opacity: 1 !important;
	}

	.category-container {
		max-width: 240px !important;
		margin: 10px 10px;
	}

	.product-container {
		max-width: 300px !important;
		height: 300px !important;
		margin: 10px 10px;
	}

	.footer-container {
		background-image: none;
	}

}

@media (min-width: 992px) {

	#offcanvasNav {
		min-height: 60px;
	}

	.navbar-nav-container {
		min-height: inherit;
	}

	.navbar-nav {
		min-height: inherit;
	}

	.nav-item {
		min-height: inherit;
	}

	.nav-link {
		min-height: inherit;
	}

	.carousel-card {
		width: 365px;
	}

	.carousel-inner .carousel-item.active,
	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
		display: flex;
		justify-content: space-between;
	}

	.carousel-inner .carousel-item-end.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(20.2%);
	}

	.carousel-inner .carousel-item-start.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-20.2%);
	}

	.carousel-inner .carousel-item-end,
	.carousel-inner .carousel-item-start {
		transform: translateX(0);
	}
}